<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

<meta charset="utf-8">
    <title>Create Announcement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
      .nav > .nav-item {
        color: white;
        background-color: #363636;
        padding: 20px;
        border-color: black;
        border-style: solid;
        border-width: thin;
      }
    </style>
  </head>
<div class="header">
    <img src="telkom.png" width="200px" height="70px" alt="logo" align="left" style="float: left;" />
    <button style="width :70px; height:60px; float: right; border: 2px solid black; border-radius: 10px; margin-right:15px;">
      <img style="width :50px; height:40px;" src="search.png"/>
    </button>
  </div>

  <body style="background-color: #FCE4CD;">
    <nav class="navbar navbar-light" style="background-color: #FCE4CD;" >
      <a class="navbar-brand" href="#">
        <img src="assets/image/Logo_Telkom_University.png" height="60" alt="">
      </a>
    </nav>
    <div class="nav" style="background-color: #C90014;">
        <a class="nav-item nav-link" href="#" style=" float: left;">Home</a>
        
		<a class="nav-item nav-link" href="#" style=" float: left;">Creat Announcement</a>
		<a class="nav-item nav-link" href="#" style=" float: left;">Create LIst of Accepted Student</a>
		 <a class="nav-item nav-link" href="#" style=" float: left; margin-right: 921px">My profile</a>
		 <button style="float: right;">
			<img style="width :50px; height:40px; " src="logout.png"/>
		</button>
		
    </div>


   <!--  <div>
    <div class="container-create">
  
<form>
  <div class="form-group" style="margin-top: 30px">
   <h1 style="text-align: center; font-family: cursive; padding-bottom: 20px;font-weight: bold;color: black">CREATE ANNOUNCEMENT</h1>
  </div>
<div class="col-lg">
	<div class="col-md">
		 <div  style="margin-top: 20px; background-color: white">
  	<label for="InputEmail1" style="font-size: 17px; text-align: center; font-family: cursive; margin-top: 30px">Email:</label>
    <input type="email" id="InputEmail1" style="padding-left:100px;border-radius: 3px;border:2px solid black;margin-left: 30px">
    <label for="InputPassword1" style="font-size: 17px; text-align: center; font-family: cursive; ">Password:</label>
    <input type="password" id="InputPassword1" style="padding-left: 100px;border-radius: 3px;border:2px solid black">
  		</div>
	</div>
	<div class="col-md">
  	<label>Faculty</label>
  	<select>
  		<option>FIF</option>
  		<option>FIK</option>
  	</select>
  </div>
  </div> -->


  <div class="container">
  	<form>
  <div class="form-group" style="margin-top: 30px">
   <h1 style="text-align: center; font-family: cursive; padding-bottom: 20px;font-weight: bold;color: black">CREATE ANNOUNCEMENT</h1>
  </div>
  <div class="row">
    <div class="col-md">
      	<div  style="background-color: white; padding-bottom: 15px; border-radius: 5px;padding-left: 10px">
  			<label for="title" style="font-size: 17px; text-align: center; font-family: cursive; margin-top: 30px">Title:</label>
    		<input type="text" id="InputEmail1" style="padding-left:250px;border-radius: 3px;border:2px solid black;margin-left: 20px">
    		<label for="course" style="font-size: 17px; text-align: center; font-family: cursive; ">Course:</label>
   			 <input type="text" id="InputPassword1" style="border-radius: 3px;border:2px solid black; margin-left: 5px">
   			 	<label for="periode" style="font-size: 17px; text-align: center; font-family: cursive; ">Periode:</label>
   			 <input type="text" id="InputPassword1" style="border-radius: 3px;border:2px solid black">
    	</div>
    </div>
    <div class="col-md">

      	<div style="float: left; padding-top: 20px">
      		<label style="font-family: cursive;">Faculty</label>
  			<select>
  			<option></option>
  			<option>FIF</option>
  			<option>FIK</option>
  			<option>FKB</option>
  			<option>FTE</option>
  			<option>FBE</option>
  			<option>FRI</option>
  			</select>
		</div>
		<div style="float: right; padding-top: 20px; padding-right: 200px ">
			<label style="font-family: cursive;">Category</label>
  			<select>
  			<option></option>
  			<option>Asisten Dosen</option>
  			<option>Asisten Praktikum</option>
  			<option>Asisten Laboratorium</option>
  			</select>	
		</div>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;background-color: white;margin-top: 30px; margin-left: 3px;border-radius: 5px">
  	<div style="padding-left: 10px;padding-bottom: 10px;border-radius: 3px">
			<label style="font-size: 17px; text-align: center; font-family: cursive; ">Content:</label><br>
			<input type="textarea" name="content" style="border-radius: 3px;border:2px solid black; width: 1100px; height:220px;">
		</div>
  </div>
</form>
</div>
  

  <button type="submit" class="btn btn-primary" style="align-content: center; margin-left: 750px; background-color: #cc0000;margin-bottom: 50px; margin-top: 30px;font-family: cursive;">Post Announcement</button>
</form>
    </div>

  </div>
</body>
</html>